* {
    margin: 1.5px;
}

.allaFractions {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1px;
    grid-template-areas: 
    "he he he"
    "as at at"
    "as at at"
    "as at at"
    "ft ft ft"
    ;
}

.minHeader {
    grid-area: he;
    background-color: violet;
    padding: 15px;

    
}
.minArticle {
    grid-area: at;
    background-color: seashell;
    padding: 15px;
}
.minAside {
    grid-area: as;
    background-color: wheat;
    padding: 15px;
}
.minFooter {
    grid-area: ft;
    background-color: khaki;
}

#minr {
   text-align: center;
}

#minur {
    text-align: center;
}

#snoc {
    text-align: center;
}

li {
   font-size: 13.5px;
}

#hds {
    text-align: center;
}

.sec {
    text-align: center;
}

.sec2 {
    padding: 25px;
}